<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Daimler - CoSyMa</title>
    <meta name="author" content="cellent AG">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/lib/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="shared/navigation/ceNavigation.min.css" />
    <link rel="stylesheet" href="shared/sideMenu/ceSidemenu.min.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
    <link rel="stylesheet" href="assets/lib/metro/metro.min.css" />
    <link rel="stylesheet" href="assets/lib/metro/metro-schemes.min.css" />
</head>
<body>
<div ng-app="cosymaApp">
    <span ng-controller="NavigationController">
        <ce-navigation ce-config="{title: 'CoSyMa - v1.0.0'}">
            <ce-app class="ce-container" ng-repeat="application in applications">
                <a ng-click="$parent.$parent.$parent.isNavigationClosed = !$parent.$parent.$parent.isNavigationClosed"
                   ui-sref="applications.modules({applicationId: application.id, applicationName:application.name})">
                    <p>{{application.name}}</p>
                </a>
            </ce-app>
        </ce-navigation>
    </span>

    <span>
        <span ng-show="!isApplicationView" ng-controller="ComputerController">
            <ce-sidemenu ce-config="{label: '+', color: '#fda523'}">
                <computer-search></computer-search>
                <computer-side-element ng-repeat="computer in computers" computer-data="computer"></computer-side-element>
            </ce-sidemenu>
        </span>

        <span ng-show="!isApplicationView">
            <ui-breadcrumbs displayname-property="crumbDisplayName" template-url="shared/breadcrumbs/uiBreadcrumbs.tpl.html"></ui-breadcrumbs>
        </span>

        <div ui-view="main"></div>
    </span>
</div>

<!-- TODO// Apply bundling & minification (careful with angular magic strings)-->
<!-- 3rd party libraries -->
<script src="assets/lib/jquery.min.js"></script>
<script src="assets/lib/bootstrap/bootstrap.min.js"></script>
<script src="assets/lib/angular/angular.min.js"></script>
<!--<script src="app/js/lib/angular-animate.min.js"></script>
<script src="app/js/lib/angular-resource.min.js"></script>-->
<script src="assets/lib/angular/angular-ui-router.min.js"></script>
<script src="assets/lib/angular/angular-translate.min.js"></script>
<script src="assets/lib/angular/angular-translate-loader-partial.min.js"></script>
<script src="assets/lib/winjs/base.min.js"></script>
<script src="assets/lib/winjs/ui.min.js"></script>
<script src="assets/lib/winjs/angular-winjs.js"></script>

<!-- Controls -->
<script src="shared/navigation/angular-navigation-min.js"></script>
<script src="shared/sideMenu/angular-sidemenu-min.js"></script>
<script src="shared/breadcrumbs/uiBreadcrumbs.js"></script>

<!-- Custom scripts -->
<script src="app.js"></script>
<script src="shared/navigation/navigationController.js"></script>
<script src="components/applications/applicationsController.js"></script>
<script src="components/applications/applicationsFactory.js"></script>
<script src="components/modules/modulesController.js"></script>
<script src="components/modules/moduleController.js"></script>
<script src="shared/computer/computerElement.js"></script>
<script src="shared/computer/computerFactory.js"></script>
<script src="shared/computer/computerController.js"></script>
<script src="shared/computer/computerSearch.js"></script>
<script src="components/modules/modulesFactory.js"></script>
</body>
</html>
