<div class="container-fluid" style="padding-left: 0">
    <div class="row">
        <div class="col-md-2">
            <ul style="min-height: 90vh; max-height: 100vh;" class="sidebar darcula no-responsive-future" ng-class="{'compact': isSideBarClosed}" ng-mouseenter="isSideBarClosed=false" ng-mouseleave="isSideBarClosed=true">
                <li style="text-align: center;" ng-repeat="module in modules" ng-click="selectModule($event, module)">
                    <a href="#">
                        <span class="icon">{{module.Initials | translate }}</span>
                        <span class="title">{{module.Name | translate }}</span>
                        <span class="counter"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-7" ng-include="'components/moduleViews/' + selectedModule.ViewPath"></div>
    </div>
</div>
