/*=== COMPUTER ELEMENT ===*/
.computer-row {
    padding-bottom: 5px;
    font-size: 16px;
    color: #BDC3C7;
}
.computer-row > span {
    height: 20px;
}
/*=== APPLICATIONS METRO TILES ===*/
.tile {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    background: gray !important;
    color: white;
}
.tile .title {
    margin-top: 0;
    color: dodgerblue;
}
.vertical-center {
    min-height: 100%;
    min-height: 90vh;
    height: 100px;/*Fix for IE11*/
    display: flex;
    align-items: center;
}
/*=== NAVIGATION ===*/
.ce-app-wrapper {
    background-color: #003561;
    z-index: 100;
}
.ce-app p {
    color: white;
}
/*=== RIGHT SIDE MENU  ===*/
#ce-picker-button {
    z-index: 100;
}
#ce-picker {
    z-index: 100;
}