<div class="vertical-center">
    <div class="container">
        <div class="col-sm-4" ng-repeat="application in applications">
            <a ui-sref="applications.modules({applicationId: application.Name, applicationName: (application.Name | translate)})">
                <div class="tile">
                    <p>{{ application.Name | translate }}</p>
                    <h1 class="title">{{application.Modules.Module.length}}</h1>
                </div>
            </a>
        </div>
    </div>
</div>